ISeriesAdapterTestMSET/importFiles/qsyrusri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="pcml">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="usri0100" minOccurs="0" />
				<xsd:element ref="qsyrusri" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute default="4.0" type="xsd:string" name="version" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="usri0100">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="bytesReturned" />
				<xsd:element ref="bytesAvailable" />
				<xsd:element ref="userProfile" />
				<xsd:element ref="previousSignonDate" />
				<xsd:element ref="previousSignonTime" />
				<xsd:element ref="__byte" />
				<xsd:element ref="badSignonAttempts" />
				<xsd:element ref="status" />
				<xsd:element ref="passwordChangeDate" />
				<xsd:element ref="noPassword" />
				<xsd:element ref="__byte" />
				<xsd:element ref="passwordExpirationInterval" />
				<xsd:element ref="datePasswordExpires" />
				<xsd:element ref="daysUntilPasswordExpires" />
				<xsd:element ref="setPasswordToExpire" />
				<xsd:element ref="displaySignonInfo" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" default="usri0100" />
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="struct" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="bytesReturned">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="bytesReturned" />
			<xsd:attribute name="type" type="xsd:string" default="int" />
			<xsd:attribute name="length" type="xsd:string" default="4" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="bytesAvailable">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="bytesAvailable" />
			<xsd:attribute name="type" type="xsd:string" default="int" />
			<xsd:attribute name="length" type="xsd:string" default="4" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="userProfile">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="userProfile" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="10" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="previousSignonDate">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="previousSignonDate" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="7" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="previousSignonTime">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="previousSignonTime" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="6" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="__byte">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="type" type="xsd:string" default="byte" />
			<xsd:attribute name="length" type="xsd:string" default="1" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="badSignonAttempts">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="badSignonAttempts" />
			<xsd:attribute name="type" type="xsd:string" default="int" />
			<xsd:attribute name="length" type="xsd:string" default="4" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="status">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="status" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="10" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="passwordChangeDate">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="passwordChangeDate" />
			<xsd:attribute name="type" type="xsd:string" default="byte" />
			<xsd:attribute name="length" type="xsd:string" default="8" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="noPassword">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="noPassword" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="1" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<!-- <xsd:element name="__byte">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="type" type="xsd:string" default="byte" />
			<xsd:attribute name="length" type="xsd:string" default="1" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>-->
	<xsd:element name="passwordExpirationInterval">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string"
				default="passwordExpirationInterval" />
			<xsd:attribute name="type" type="xsd:string" default="int" />
			<xsd:attribute name="length" type="xsd:string" default="4" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="datePasswordExpires">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="datePasswordExpires" />
			<xsd:attribute name="type" type="xsd:string" default="byte" />
			<xsd:attribute name="length" type="xsd:string" default="8" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="daysUntilPasswordExpires">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string"
				default="daysUntilPasswordExpires" />
			<xsd:attribute name="type" type="xsd:string" default="int" />
			<xsd:attribute name="length" type="xsd:string" default="4" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="setPasswordToExpire">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="setPasswordToExpire" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="1" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="displaySignonInfo">
		<xsd:complexType>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="data" />
			<xsd:attribute name="name" type="xsd:string" default="displaySignonInfo" />
			<xsd:attribute name="type" type="xsd:string" default="char" />
			<xsd:attribute name="length" type="xsd:string" default="10" />
			<xsd:attribute name="usage" type="xsd:string" default="output" />
			<xsd:attribute name="value" type="xsd:string" default="" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="qsyrusri">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="receiver">
					<xsd:complexType>
						<xsd:attribute name="pcmltype" type="xsd:string"
							default="data" />
						<xsd:attribute name="name" type="xsd:string"
							default="receiver" />
						<xsd:attribute name="type" type="xsd:string"
							default="struct" />
						<xsd:attribute name="struct" type="xsd:string"
							default="usri0100" />
						<xsd:attribute name="usage" type="xsd:string"
							default="output" />
						<xsd:attribute name="value" type="xsd:string"
							default="" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="receiverLength">
					<xsd:complexType>
						<xsd:attribute name="pcmltype" type="xsd:string"
							default="data" />
						<xsd:attribute name="name" type="xsd:string"
							default="receiverLength" />
						<xsd:attribute name="type" type="xsd:string"
							default="int" />
						<xsd:attribute name="length" type="xsd:string"
							default="4" />
						<xsd:attribute name="usage" type="xsd:string"
							default="input" />
						<xsd:attribute name="value" type="xsd:string"
							default="" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="format">
					<xsd:complexType>
						<xsd:attribute name="pcmltype" type="xsd:string"
							default="data" />
						<xsd:attribute name="name" type="xsd:string"
							default="format" />
						<xsd:attribute name="type" type="xsd:string"
							default="char" />
						<xsd:attribute name="length" type="xsd:string"
							default="8" />
						<xsd:attribute name="usage" type="xsd:string"
							default="input" />
						<xsd:attribute name="init" type="xsd:string"
							default="USRI0100" />
						<xsd:attribute name="value" type="xsd:string"
							default="" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="profileName">
					<xsd:complexType>
						<xsd:attribute name="pcmltype" type="xsd:string"
							default="data" />
						<xsd:attribute name="name" type="xsd:string"
							default="profileName" />
						<xsd:attribute name="type" type="xsd:string"
							default="char" />
						<xsd:attribute name="length" type="xsd:string"
							default="10" />
						<xsd:attribute name="usage" type="xsd:string"
							default="input" />
						<xsd:attribute name="init" type="xsd:string"
							default="*CURRENT" />
						<xsd:attribute name="value" type="xsd:string"
							default="" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="errorCode">
					<xsd:complexType>
						<xsd:attribute name="pcmltype" type="xsd:string"
							default="data" />
						<xsd:attribute name="name" type="xsd:string"
							default="errorCode" />
						<xsd:attribute name="type" type="xsd:string"
							default="int" />
						<xsd:attribute name="length" type="xsd:string"
							default="4" />
						<xsd:attribute name="usage" type="xsd:string"
							default="input" />
						<xsd:attribute name="init" type="xsd:string"
							default="0" />
						<xsd:attribute name="value" type="xsd:string"
							default="" />
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="pcmltype" type="xsd:string"
				default="program" />
			<xsd:attribute name="name" type="xsd:string" default="qsyrusri" />
			<xsd:attribute name="path" type="xsd:string"
				default="/QSYS.lib/QSYRUSRI.pgm" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>